.card-primary {
    border-radius: 5px;
    background-color: #292B36;
    border: 0;
.card-image {
    -webkit-transition:all .9s ease; 
    -moz-transition:all .9s ease; 
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease; 
    opacity: 0.9;
    width: 300px;
    height: 200px;
    }
    &:hover {
        .card-image {
            opacity: 1;
            -webkit-transform:scale(1.15);
            -moz-transform:scale(1.15);
            -ms-transform:scale(1.15);
            -o-transform:scale(1.15);
            transform:scale(1.15);
        }
        .card-title {
            color: #37C794;
        }
    }
}

.card-image-box {
    background: #292B36;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
}