@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "./styles/landing.scss";

@use "sass:map";

$theme-colors : (
	"info": #37A4C7,
	"dark": #292B36,
	"sucess": #37C794,
);

// jumbotron customization
$jumbotron-bg: map-get($map: $theme-colors, $key: "dark");
$jumbotron-color: #f4f4f4;

nav {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main {
	background-color: map-get($map: $theme-colors, $key: "dark");
}

.main-jumbotron {
	background-color: map-get($map: $theme-colors, $key: "dark");
	padding: 0;
}

/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap";
